<nav mat-tab-nav-bar>
  <span class="toolbar-flex"></span>
<mat-tab-group>
  <mat-tab label="Manjeet A"></mat-tab>
  <mat-tab label="Manjeet B"></mat-tab>
  <mat-tab label="Manjeet C"></mat-tab>
  <mat-tab label="Manjeet D"></mat-tab>
  <mat-tab label="Manjeet E"></mat-tab>
  <mat-tab label="Manjeet E"></mat-tab>
  <!-- <mat-tab label="Manjeet E"></mat-tab>
  <mat-tab label="Manjeet E"></mat-tab>
  <mat-tab label="Manjeet E"></mat-tab>
  <mat-tab label="Manjeet E"></mat-tab> -->
</mat-tab-group>
<span class="toolbar-flex"></span>
</nav>
