<!-- <aside id="gallery" class="row text-center scrollto clearfix" data-featherlight-gallery
 data-featherlight-filter="a">
<div *ngFor="let image of gallery.images">
<a href="assets/images/gallery-images/{{image}}" data-featherlight="image" class="col-3 wow fadeIn"
   data-wow-delay="0.1s">
   <img src="../assets/images/gallery-images/{{image}}" alt="Landing Page"/>
</a>
</div>
</aside> -->

  <h1>{{title}}</h1>
<div clas="row">
<button class="btn btn-lg btn-danger" [class.active] = "filterBy =='all'" (click)="filterBy='all'">All</button>
<button class="btn btn-lg btn-danger" [class.active] = "filterBy =='Himachal'" (click)="filterBy='Himachal'">Himachal</button>
<button class="btn btn-lg btn-danger" [class.active] = "filterBy =='Jammu&Kashmir'" (click)="filterBy='Jammu&Kashmir'">Jammu & Kashmir</button>
<button class="btn btn-lg btn-danger" [class.active] = "filterBy =='Uttarakhand'" (click)="filterBy='Uttarakhand'">Uttarakhand</button>

<ul id="thumbnailslist">
  <li *ngFor="let image of (visibleImages | imageFilter: filterBy)">
<a [routerLink]="['/image', image.id]">
<img src="{{image.url}}" class="ab" width="200" height="100">
</a>
  </li>

</ul>
</div>


