.container1{
  height:100vh;
  text-decoration: none;
  background: url(/assets/images/banner.jpg) no-repeat;
}

.book-on-container{
  padding: 35px 115px;

}


.book-button{
  width:130px;
  color:#000;
  border:1px solid gray;
  text-transform: uppercase;
  border-radius: 10px;
  background: rgb(237, 252, 237);
}
.center{
  text-align: center;
  color:red;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
