<div class="container1">
<div class="book-on-container">
  <div fxFlex fxFlexLayoutAlign="flex-right">
    <button  class="book-button" mat-stroke-button color="red">
      Book now
    </button>
  </div>
</div>
<!-- <div class="center"> -->
    <div class="header-container">
  <h2 class="mat-display-1">
    welcome to Capco.
  </h2>
  <h3 class="mat-display-2">
      Capco is a global management and technology consultancy  <br/>dedicated to the financial services industry.
  </h3>
</div>

<div class="uttrakhand">
<h3>Paris</h3>
</div>
</div>
<!-- </div> -->
<section>
<div class="home-section">
  <div class="header-container">
  <h2 class="mat-subheading-2"> Luxury beech front resort</h2>
  </div>
  <div>
    <h3 class="mat-subheading-2">
      Asia tropical Paradis
    </h3>
  </div>

<div>
  <p class="mat-body-1">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br/> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
       when an unknown printer took a galley of type and scrambled it to make a type specimen book.
  </p>
</div>
</div>

<div class="rooms-home-display center">
<mat-card  class="rooms-suites" fxFlex="40" fxFlex.sm="80">
  <mat-card-header>
<h2>Rooms &amp; Suites</h2>
  </mat-card-header>
  <mat-card-actions>
<button mat-raised-button color="primary"> Explore</button>
  </mat-card-actions>

</mat-card>

    <mat-card  class="beach-houses" fxFlex="40" fxFlex.sm="80">
      <mat-card-header >
    <h2>Rooms &amp; Suites</h2>
      </mat-card-header>
      <mat-card-actions>
    <button mat-raised-button color="primary"> Explore</button>
      </mat-card-actions>

    </mat-card>
    </div>



</section>
